body{
	font-size:16px;
	 /*	color:#fff;
background-color:#61122f;*/
}
#header-nav{
	background-color:#f6b319;
	border-radius:0;
	border:0;
}
.titlee{
	text-decoration:none;
	font-size:16pt;
	color:#f6b319;
	
	position:relative;
	float:left;
}
.menustyle{
	
	text-decoration:none
	
	
}
h1{
	color:solid black;

}
*{
      box-sizing:border-box;
	
   }
   h1{
      text-align:center;
	  }
	 
	 .data{
		  
		  font-size:15pt;
		    
	 }
	 .subhead{
		 font-size:15pt;
	 }
	 .row{
		 width:100%;
	 }
/*.col-12{
	
	
}*/
.col-centered{
	display:inline-block;
	float:none;
	text-align:left;
	margin-right:-4px;
	text-align:center;
	border:1px solid #ddd;
}
.col-12{
	padding:10px;
	border:50px;
	margin:700px;
	background-color:gray;

}
.col-lg-12{
	padding:2px;
	border:2px;
	background-color:gray;
	margin:10px;
}